.row {
    margin-top: 80px;
    text-align: center;
  }

#generate {
  margin-left: 200px; 
  font-size: 80px;
  border-radius: 5px;
  border: transparent;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}
#add_metaphor {
 margin-left: 200px;
 font-size: 80px;
 border-radius: 5px;
 border: transparent;
 box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 padding: 10px;
}
#add_words {
 margin-left: 200px;
 font-size: 80px;
 border-radius: 5px;
 border: transparent;
 box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 padding: 10px;
}
p {
  text-align: center;
  font-size: 60px;
}
.form {
  font-size: 50px;
}