.row {
  margin-top: 80px;
  text-align: center;
}
#compliment,
#purpose {
  text-align: center;
  color: white;
  font-size: 60px;
}
#attr {
  font-size: 50px;
  border-radius: 10px;
  padding: 5px;
}
#why {
  font-size: 50px;
  border-radius: 10px;
  padding: 5px;
}
#name,
#lover-name {
  text-align: center;
  color: white;
  font-size: 60px;
  margin-left: 150px;
}
#sender,
#receiver {
  font-size: 50px;
  border-radius: 10px;
  padding: 5px;
}

#generate {
  margin-left: 300px;
  font-size: 80px;
  border-radius: 5px;
  border: transparent;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}
#back {
  margin-left: -500px;
  font-size: 80px;
  border-radius: 5px;
  border: transparent;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}
#add_metaphor {
  margin-left: 500px;
  align-items: center;
  font-size: 80px;
  border-radius: 5px;
  border: transparent;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}
#add_words {
  margin-left: 550px;
  align-items: center;
  font-size: 80px;
  border-radius: 5px;
  border: transparent;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}
p {
  font-size: 60px;
  color: white;
  text-align: center;
  font-weight: bold;
}
.form {
  font-size: 50px;
  /* margin-left: 200px; */
}
#length_form {
  margin-left: 150px;
  align-items: center;
}

#input_metaphor,
#input_words,
#length {
  font-size: 50px;
  border-radius: 10px;
  padding: 5px;
}
#length {
  margin-left: 30px;
}
label {
  color: white;
}
#des {
  font-size: 50px;
  margin-left: 200px;
}
input {
  margin-left: 30px;
}
.input-row {
  margin-left: 200px;
  text-align: center;
}

.text {
  width: 100%;
  font-size: 80px;
  text-align: center;
  margin-left: -10px;
  color: white;
}
.rhombus2 {
  margin: 40px 0 0 200px;
  margin: auto;
  margin-top: 500px;
  border-radius: 10px;
  height: 75px;
  width: 75px;
  margin-bottom: 100px;
  float: center;
  animation-delay: 0s;
  animation-duration: 0.8s;
  animation-name: pump;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.26, -0.53, 0.57, 2.32);
}

.rhombus2:before {
  content: "";
  position: absolute;
  background: #ea4c89;
  height: 40px;
  width: 40px;
  z-index: 0;
  margin-top: 15px;
  margin-left: -22px;
  transform: rotate(45deg);
}

.rhombus2 .circle21 {
  content: "";
  position: absolute;
  background: #ea4c89;
  height: 40px;
  width: 40px;
  z-index: 1;
  border-radius: 50%;
  /*animation-direction: alternate;*/
}

.rhombus2 .circle22 {
  content: "";
  position: absolute;
  background: #ea4c89;
  height: 40px;
  width: 40px;
  z-index: 1;
  margin-left: 30px;
  border-radius: 50%;
  /*animation-direction: alternate;*/
}

@keyframes pump {
  0% {
    transform: scale(4);
  }
  100% {
    transform: scale(4.5);
  }
}
