{% extends 'nav.html' %} {% block content %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/generate_paragraph.css')}}"
/>
<script
  type="text/javascript"
  src="{{url_for('static', filename='js/generated_paragraph.js')}}"
></script>
<script>
  var toWhom = {{toWhom | tojson}}
  var occasion = {{occasion | tojson}}
</script>
<div class="row">
  <p>
    We will generate a three-paragraph style love letter for you, now is the
    first paragraph
  </p>
</div>
<div class="row row2">
  <button id="add_metaphor">Add metaphor</button>
</div>
<div id="metaphor" class="row"></div>
<div class="row row3">
  <button id="add_words">Add words</button>
</div>
<div id="words" class="row"></div>
<div id="length_form" class="row">
  <div class="row">
    <button id="generate" name="button">Generate</button>
  </div>
  {% endblock %}
</div>
